<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Assessment\AssessmentsWeb.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Assessment</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=ssu-sql12.training.local\tc;Initial Catalog=Lv-175-AssessmentDB;Persist Security Info=True;User ID=Lv-175.Net;Password=Lv-175.Net;Application Name=EntityFramework" Name="Data Source=ssu-sql12.training.local\tc;Initial Catalog=Lv-175-AssessmentDB;Persist Security Info=True;User ID=Lv-175.Net;Password=Lv-175.Net;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AssessmentsWeb.Models.ApplicationDbContext, AssessmentsWeb" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AssessmentModelContext" Order="2" Enabled="False">
          <Destination Path="Data Source=ssu-sql12.training.local\tc;Initial Catalog=Lv-175-AssessmentDB;Persist Security Info=True;User ID=Lv-175.Net;Password=Lv-175.Net;Application Name=EntityFramework" Name="Data Source=ssu-sql12.training.local\tc;Initial Catalog=Lv-175-AssessmentDB;Persist Security Info=True;User ID=Lv-175.Net;Password=Lv-175.Net;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AssessmentModel.AssessmentModelContext, AssessmentModel" MigrationConfiguration="AssessmentModel.Migrations.Configuration, AssessmentModel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AssessmentModelContext-Web.config Connection String">
      <ParameterValue>Data Source=ssu-sql12.training.local\tc;Initial Catalog=Lv-175-AssessmentDB;Persist Security Info=True;User ID=Lv-175.Net;Password=Lv-175.Net;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=ssu-sql12.training.local\tc;Initial Catalog=Lv-175-AssessmentDB;Persist Security Info=True;User ID=Lv-175.Net;Password=Lv-175.Net;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>