@inherits System.Web.Mvc.WebViewPage

<div ng-app ="Assessments" ng-controller="ActionItemsController">

    <h3 ng-show="Assessment.length">{{Assessment}}</h3>

    <table class="tableSS">
        <thead>
            <tr>
                <th>Area</th>
                <th>Criteria</th>
                <th>Action Item</th>
                <th>Responsible Person</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ar in Areas">
                <td class="col-sm-2" >{{ar.area}}</td>
                <td class="col-sm-2">{{ar.criterion}}</td>
                <td class="col-sm-2">{{ar.actionItem}}</td>
                <td class="col-sm-2">{{ar.responsiblePerson}}</td>
                <td class="col-sm-2">{{ar.dueDate}}</td>
            </tr>
        </tbody>
    </table>
</div>