@inherits System.Web.Mvc.WebViewPage
@Styles.Render("~/Content/css")

<form ng-app="Assessments" ng-controller="AddAssessmentTypeController">

    <div class="form-group">
        <label for="Name">Name:</label>
        <input ng-model="assessmentType.name" type="text" class="form-control" id="Name">
        <p></p>

        <label for="Description">Description:</label>
        <input ng-model="assessmentType.Description" type="text" name="Description" class="form-control" id="Name">
        <p></p>
        <label for="URL">URL:</label>
        <input ng-model="assessmentType.URL" type="text" name="URL" class="form-control" id="Name">
        <p></p> 

        <p></p>
        <button ng-click="postJson();closeThisDialog(0);">Save</button>
        <button ng-click="closeThisDialog(0)">Close</button>
        <hr />

        
    </div>
</form>
