@inherits System.Web.Mvc.WebViewPage
@Styles.Render("~/Content/css")

<form ng-app="Assessments" ng-controller="AddAssessmentController" id="AddDialog">
    <div class="form-group">
        <label for="AssessmentType">Assessment Type:</label>
        <select class="form-control" id="AssessmentType"
                ng-options="type.Id as type.Name for type in assessmentTypeObj"
                ng-model="assessment.assessmentTypeId" required>
        </select>

        <label for="Name">Name of Assessment:</label>
        <input ng-model="assessment.name" type="text" class="form-control" id="Name" required>
        <p></p>

        <label for="StartDate">Start Date:</label>
        <p></p>
        <input ng-model="assessment.startDate" type="date" name="StartDate">
        <p></p>

        <label for="Project">Project:</label>
        <input ng-model="assessment.project" type="text" class="form-control" id="Project">

        <label for="ProjectID">ProjectID:</label>
        <input ng-model="assessment.projectID" type="number" class="form-control" id="ProjectID">

        <label for="Unit">Unit:</label>
        <input ng-model="assessment.unit" type="text" class="form-control" id="Unit">

        <label for="ProjectManager">Project Manager:</label>
        <select class="form-control" id="ProjectManager"
                ng-options="pm.Id as pm.Name for pm in usersObj"
                ng-model="assessment.projectManagerId"></select>

        <label for="Coordinator">Coordinator:</label>
        <select class="form-control" id="Coordinator"
                ng-options="coordinator.Id as coordinator.Name for coordinator in usersObj | filter: {IsCoordinator: true}"
                ng-model="assessment.coordinatorId"></select>
        <p></p>
        <button ng-click="postJson()">
            Save
        </button>
        <button ng-click="closeThisDialog(0)">Close</button>
        <hr />
    </div>
</form>
