@inherits System.Web.Mvc.WebViewPage
@Styles.Render("~/Content/css")

<form ng-app="Assessments" ng-controller="AddIndicatorSamplesController">

    <div class="form-group">
        <label for="Name">Name{{Indicators[0].Order}}:</label>
        <input ng-model="Indicator.Name" type="text" class="form-control" id="Name">
        <p></p>
        <button ng-click="postJson();closeThisDialog(0);">Save</button>
        <button ng-click="closeThisDialog(0)">Close</button>
        <hr />


    </div>
</form>
