@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
}

<div ng-app="Assessments" ng-controller="IndicatorSamplesController">
    <p>Criteria: <a ui-sref="CriteriaSamples({ Id: Criteria.AreaId })">{{Criteria.Name}}</a></p>
   
        <h1 class="admin">Indicators</h1>
        
    <table id="tbl" class="tableSS">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Order</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tb">
            <tr ng-repeat="indicator in Indicators | orderBy:'Order'">
                <td>{{indicator.Id}}</td>
                <td><textarea class="noborder" rows="1" ng-model=" indicator.Name" ng-blur="Update(indicator)" /></td>
                <td><textarea class="noborder" rows="1" ng-model=" indicator.Order" ng-blur="Update(indicator)" /></td>
                <td ng-click="Up(indicator)">&#8679</td>
                <td ng-click="Down(indicator)">&#8681</td>
                
                <td ><button class="btn btn-default btn-sm" ng-click="startForm(indicator)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
            </tr>
        </tbody>
    </table>
    <div class="admin">
     <button   ng-click="startForm2(currentId,Indicators.length)"><span class="glyphicon glyphicon-plus"></span>Add indicator</button>
    </div>
     </div>


