@inherits System.Web.Mvc.WebViewPage

<div class="myPadding" ng-app="Assessments" ng-controller="TopWeakAreasController">
    <h1>Top Weak Areas </h1>
    <ul class="list-inline">
        <li>
            <form>
                <label for="StartDate">Start Date:</label>
                <input data-ng-datepicker type="date" name="StartDate" ng-change="changedDate()" ng-model="startDate">
            </form>
        </li>
        <li>
            <form>
                <label for="FinishDate">Finish Date:</label>
                <input type="date" name="FinishDate" ng-change="changedDate()" ng-model="finishDate">
            </form>
        </li>
        <li>
            <label id="Message"></label>
        </li>
    </ul>

    <form name="myForm">
        <label for="typeSelect">Assesment Type</label>
        <select name="typeSelect" ng-model="selectedType" ng-change="changed()">
            <option ng-repeat="t in Type" value="{{t.Id}} ">{{t.Name}}</option>
        </select>
    </form>
    <div ng-show="Data.length">

        <table class="tableSS">
            <thead>
                <tr>
                    <th>Area</th>
                    <th>Criteria</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr title="Average of {{a.ScoreCount}} assessments" ng-repeat="a in Data">
                    <td class="col-sm-3 col-md-3 col-lg-3 col-xs-3">{{a.Area}}</td>
                    <td class="col-sm-3 col-md-3 col-lg-3 col-xs-3">{{a.Criterion}}</td>
                    <td class="col-sm-1 col-md-1 col-lg-1 col-xs-1">{{a.Score}}</td>
                </tr>
            </tbody>
        </table>
        <div class="paging">
            <ul class="pagination">
                <li ng-repeat="page in arrayOfPages" ng-click="showPage(page.link)" ng-class="{'active': currentPage() == page.link}">
                    <a>{{page.name}}</a>
                </li>
            </ul>
        </div>
    </div>
    <h3 ng-show="Data.length == 0">No Information</h3>
</div>
